<h2 mat-dialog-title>Promjena Lozinke</h2>
<form *ngIf = "!success">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="korime">Stara lozinka</label>
          <input type="password" class="form-control" id="stara" name = "stara" [(ngModel)] = "stara" placeholder="Stara lozinka">
        </div>
        <div class="form-group">
          <label for="lozinka">Nova lozinka</label>
          <input type="password" class="form-control" id="nova" name = "nova" [(ngModel)] = "nova" placeholder="Nova lozinka">
        </div>
        <div class="form-group">
          <label for="lozinka">Potvrda nove lozinke</label>
          <input type="password" class="form-control" id="potvrda" name = "potvrda" [(ngModel)] = "potvrda" placeholder="Potvrda">
        </div>
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Otkaži</button>
          <button mat-button (click)="promijeniLozinku()" cdkFocusInitial>Potvrdi</button>
        </mat-dialog-actions>
        <div id = "errorDialogChange">{{poruka}}</div>
      </div>
    </div>
  </div>
</form>
<div *ngIf = "success">
  <form>
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Vaša lozinka je uspješno promijenjena! Ulogujte se ponovo kako biste nastavili rad sa sistemom!</h4>
          <mat-dialog-actions align="end">
            <button mat-button (click)="ok()" cdkFocusInitial>ok</button>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
  </form>
</div>
  
