<app-navbar-welcome></app-navbar-welcome>
<div class="container-fluid" id="welcome-login-container">
    <div class="row">
        <div class="col-sm-6">
            <br/>
            <mat-card id="welcome-card">
                <mat-tab-group>
                    <mat-tab label="Log In">
                        <app-login></app-login>                   
                    </mat-tab>
                    <mat-tab label="Register">
                        <app-register></app-register>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
            <br/>
        </div>
        <div class="col-sm-6 px-0">
            <img src="../assets/images/welcome-image.png" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card class="example-card" *ngIf = "racuni[0] != null">
                <mat-card-title>Preduzeće: {{racuni[0].preduzece}}</mat-card-title>
                <mat-card-subtitle>Total: {{racuni[0].ukupna}} rsd</mat-card-subtitle>
                <mat-card-subtitle>PDV: {{racuni[0].ukupanPorez}}</mat-card-subtitle>
                <mat-card-content >
                    <ul class="list-group" *ngFor = "let det of racuni[0].detalji">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">{{det.naziv}}</p>
                                <small>x{{det.kolicina}} {{det.jedinica}}</small>
                                <small>{{det.cijena}} rsd</small>
                            </div>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <br/>
        </div>
        <div class="col">
            <mat-card class="example-card" *ngIf = "racuni[1] != null">
                <mat-card-title>Preduzeće: {{racuni[1].preduzece}}</mat-card-title>
                <mat-card-subtitle>Total: {{racuni[1].ukupna}}</mat-card-subtitle>
                <mat-card-subtitle>PDV: {{racuni[1].ukupanPorez}}</mat-card-subtitle>
                <mat-card-content >
                    <ul class="list-group" *ngFor = "let det of racuni[1].detalji">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">{{det.naziv}}</p>
                                <small>x{{det.kolicina}} {{det.jedinica}}</small>
                                <small>{{det.cijena}} rsd</small>
                            </div>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <br/>
        </div>
        <div class="col">
            <mat-card class="example-card" *ngIf = "racuni[2] != null">
                <mat-card-title>Preduzeće: {{racuni[2].preduzece}}</mat-card-title>
                <mat-card-subtitle>Total: {{racuni[2].ukupna}}</mat-card-subtitle>
                <mat-card-subtitle>PDV: {{racuni[2].ukupanPorez}}</mat-card-subtitle>
                <mat-card-content >
                    <ul class="list-group" *ngFor = "let det of racuni[2].detalji">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">{{det.naziv}}</p>
                                <small>x{{det.kolicina}} {{det.jedinica}}</small>
                                <small>{{det.cijena}} rsd</small>
                            </div>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <br/>
        </div>
        <div class="col">
            <mat-card class="example-card" *ngIf = "racuni[3] != null">
                <mat-card-title>Preduzeće: {{racuni[3].preduzece}}</mat-card-title>
                <mat-card-subtitle>Total: {{racuni[3].ukupna}}</mat-card-subtitle>
                <mat-card-subtitle>PDV: {{racuni[3].ukupanPorez}}</mat-card-subtitle>
                <mat-card-content >
                    <ul class="list-group" *ngFor = "let det of racuni[3].detalji">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">{{det.naziv}}</p>
                                <small>x{{det.kolicina}} {{det.jedinica}}</small>
                                <small>{{det.cijena}} rsd</small>
                            </div>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <br/>
        </div>
        <div class="col">
            <mat-card class="example-card" *ngIf = "racuni[4] != null">
                <mat-card-title>Preduzeće: {{racuni[4].preduzece}}</mat-card-title>
                <mat-card-subtitle>Total: {{racuni[4].ukupna}}</mat-card-subtitle>
                <mat-card-subtitle>PDV: {{racuni[4].ukupanPorez}}</mat-card-subtitle>
                <mat-card-content >
                    <ul class="list-group" *ngFor = "let det of racuni[4].detalji">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">{{det.naziv}}</p>
                                <small>x{{det.kolicina}} {{det.jedinica}}</small>
                                <small>{{det.cijena}} rsd</small>
                            </div>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <br/>
        </div>
        <br/>
    </div>
</div>

